src/main/resources/mappers/PmsResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SqlConfig"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element ref="GDJDM"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ID" type="xs:integer"/>
  <xs:element name="GDJDM" type="xs:NMTOKEN"/>
</xs:schema>
